.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 60px 70px 80px;
  background-color: #202020;
}

.movies__button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1140px;
  width: 100%;
  min-height: 36px;
  padding: 0;
  margin: 50px 0 80px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 6px;
  background-color: #2F2F2F;
  border: none;
}

.movies__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .movies {
    padding: 60px 30px 40px;
  }

  .movies__button {
    padding: 0;
    margin: 68px 0 80px;
  }
}

@media screen and (max-width: 444px) {
  .movies {
    padding-left: 10px;
    padding-right: 10px;
  }
}