.register {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 67px 3px 67px;
  box-sizing: border-box;
  max-width: 400px;
  width: 100%
}

.register__logo {
  width: 38px;
  height: 38px;
  object-fit: cover;
  padding: 2px 0 0 0 ;
  margin: 0;
}

.register__title {
  margin: 0;
  padding-top: 38px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
}

.register__form {
  margin: 0;
  padding: 20px 0 0;
  background-color: #202020;
}

.register__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.register__label {
  padding: 20px 0 10px;
  margin: 0;
  color: #8B8B8B;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register__input {
  padding: 15px 15px;
  margin: 0;
  color: #ffffff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-radius: 8px;
  background: #2F2F2F;
}

.register__input:focus {
  outline: groove;
  opacity: 0.7;
}

.register__error {
  display: block;
  margin: 0;
  padding: 10px 0 68px;
  max-height: 30px;
  max-width: 396px;
  color: #ee3465;
  font-weight: 400;
  font-size: 10px;
  line-height: 12.1px;
}

.register__button {
  padding: 14px 0;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  background: #4285f4;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  display: block;
  width: 100%;
}

.register__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.register__confirmation-container {
  margin: 0 auto;
  padding-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
  align-items: center;
}

.register__confirmation {
  color: #8B8B8B;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register__confirmation_link {
  color: #4285F4;
  text-decoration: none;
}

.register__confirmation_link:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .register {
    margin: 0 auto;
    padding: 230px 3px 67px;
  }
}


@media screen and (max-width: 444px) {
  .register {
    margin: 0 auto;
    padding: 55px 30px 67px;
  }

  .register__logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0)    
  }

  .register__title {
    padding-top: 88px;
    text-align: center;
  }

  .register__form {
    margin: 0;
    padding: 60px 0 0;
  }

  .register__confirmation-container {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
  }

  .register__confirmation {
    font-size: 12px;
    line-height: 14.5px;
  }

  .register__button {
    position: absolute;
    bottom: 102px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 260px;
    font-size: 12px;
    line-height: 14.5px;
  }
}