.about-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 70px;
}

.about-project__title {
  margin: 0 0 70px;
  width: 100%;
  padding: 0 0 23px;
  border-bottom: 1px solid #DADADA;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.63px;
  letter-spacing: -0.04em;
}

.about-project__list {
  display: flex;
  padding: 0;
  margin: 0 0 110px;
  gap: 40px;
  list-style-type: none;
}

.about-project__subtitle {
  margin: 0 0 26px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: -0.04em;
}

.about-project__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about-project__timeline {
  display: grid;
  grid-template: 1fr / 20% 80%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.about-project__backend-timeline {
  display: flex;
  height: 36px;
  margin: 0 0 14px;
  background-color: #3DDC84;
  color: #000000;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  align-items: center;
}

.about-project__frontend-timeline {
  display: flex;
  height: 36px;
  margin: 0 0 14px;
  background-color: #303030;
  color: #ffffff;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  align-items: center;
}

.about-project__backend-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8B8B8B;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
}

.about-project__frontend-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8B8B8B;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
}